/* WordItem */
.wordItem_li {
    padding: 1em;
    background-color: var(--third-shade-secondary);
    margin-bottom: .2em;
    list-style-type: none;
    font-weight: 500;
    font-size: 1.2rem;
    text-shadow: -1px 1px 1px rgba(0,0,0,0.2);
    text-transform: capitalize;
}

.wordItem_li:hover {
    cursor: pointer;
}

/* WordPreview */
.wordPreview_container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    width: 200px;
    border-radius: 5px;
    background: #000;
    padding: .7em;
    opacity: .9;
    z-index: 3;
    
    position: absolute;
}

.wordPreview_title{
    color: #fff;
    text-transform: capitalize;
}

.wordPreview_img {
    width: 200px;
    height: 200px;
}